.menu {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background: #ffffff;
	box-shadow: 0px -3px 35px rgba(126, 151, 168, 0.16);
	flex: 0 0 101%;
	flex-flow: row wrap;
	&__item {
		height: 50px;
	}
	&__item__home {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}
	&__line {
		background: rgba(56, 79, 125, 0.1);
		width: 100px;
		height: 4px;
	}
}
