.circle--xs {
	z-index: 1;
	position: absolute;
	width: 55.65px;
	height: 55.65px;
	background: linear-gradient(228.76deg, #2deef9 -34.42%, #e084f1 127.18%);
	border-radius: 100%;
}

.circle--s {
	z-index: 3;
	position: absolute;
	width: 136px;
	height: 136px;
	background: linear-gradient(147.47deg, #feb665 24.48%, #f66eb4 118.65%);
	border-radius: 100%;
}

.circle--lg {
	z-index: 2;
	position: absolute;
	width: 299px;
	height: 299px;
	background: linear-gradient(
		315deg,
		rgba(255, 255, 255, 0.61) 3.5%,
		rgba(121, 171, 252, 0.61) 93.61%,
		rgba(96, 108, 255, 0.61) 147.83%
	);
	border-radius: 100%;
}

.circle__header {
	z-index: 1;
	position: absolute;
	width: 816px;
	height: 246px;
	left: -58.93%;
	right: -58.68%;
	top: -11.59%;
	bottom: 81.28%;
	background: linear-gradient(210.28deg, #feb665 37.28%, #f66eb4 76.65%);
	border-radius: 100%;
}

.overlay {
	position: absolute;
	width: 375px;
	height: 267px;
	left: 0px;
	top: 545px;

	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.06%, #ffffff 100%);
}
