.register__form__button {
	padding: 20px 123.5935px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: normal;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: linear-gradient(166.04deg, #bafb67 -5.37%, #00d23a 196.64%);
	border-radius: 8px;
	border: 0;
	color: #fff;
	box-shadow: 0px 10px 15px #ddebdc;
	transition: 1s all ease;
}

.register__form__button:focus,
.register__form__button:active {
	background: linear-gradient(166.04deg, #67fbed -5.37%, #ff00e0 196.64%);
	outline: 0;
	transition: 1s all ease;
}
