.register__circle--xs {
	left: 78.13%;
	right: 7.03%;
	top: 43.62%;
	bottom: 49.53%;
}

.register__circle--s {
	left: 33.33%;
	right: 30.4%;
	top: 8.25%;
	bottom: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.register__circle--s::after {
	content: url(../icons/lamp.svg);
}

.register__circle--lg {
	left: -57px;
	top: -139px;
}
