.register__form {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	&--inputs {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}
}

.register__form__footer__text {
	line-height: normal;
	font-size: 16px;
	text-align: center;
	color: #445984;
	margin: 20px 0 51px;
}

.register__form__footer__button {
	line-height: normal;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #445984;
	color: #445984;
	padding-bottom: 2px;
	margin-left: 5px;
	text-decoration: none;
}

.register__form__footer__button:focus,
.register__form__footer__button:active {
	color: #00d23a;
	border-bottom: 1px solid #00d23a;
}

.register__form__input__wrapper {
	margin-bottom: 58px;
	z-index: 2;
}

.register__input__group {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.register__input__group:last-child {
	margin-bottom: 0;
}

.register__input__group::after {
	content: "";
	position: absolute;
	right: 5%;
	top: 50%;
	bottom: 0;
	width: 23px;
	height: 12px;
	background: url(../icons/eye.svg) center / contain no-repeat;
}
