.login__form {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	&__input__wrapper {
		margin-bottom: 148px;
		z-index: 2;
		width: 100%;
	}
	&__footer__text {
		line-height: normal;
		font-size: 16px;
		text-align: center;
		color: #445984;
		margin: 20px 0 51px;
	}
	&__footer__button {
		line-height: normal;
		font-size: 16px;
		font-weight: 700;
		border-bottom: 1px solid #445984;
		color: #445984;
		padding-bottom: 2px;
		margin-left: 5px;
		text-decoration: none;
	}
	&__footer__button:focus,
	&__footer__button:active {
		color: #00d23a;
		border-bottom: 1px solid #00d23a;
	}
}
