.login__circle--xs {
	left: 62.13%;
	right: 23.03%;
	top: 43.62%;
	bottom: 49.53%;
}

.login__circle--s {
	left: 72.8%;
	right: -9.07%;
	top: 13.79%;
	bottom: 69.46%;
}

.login__circle--lg {
	left: -57px;
	top: -139px;
}
