.book__wrapper {
	display: flex;
	justify-content: center;
}

.book__group {
	overflow-y: scroll;
	height: calc(535px - 56px);
	padding: 0 30px;
	position: relative;
	&__title {
		font-family: 'Roboto', sans-serif;
		line-height: normal;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 19px;
		color: rgba(56, 79, 125, 0.8);
	}
}

.book__button {
	position: fixed;
	z-index: 1;
	bottom: 13%;
}
