.book__item {
	display: flex;
	background: #ffffff;
	box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
	border-radius: 8px;
	margin-bottom: 15px;
}

.book__description {
	padding: 20px 0;
}

.book__image {
	width: 71px;
	height: 107px;
	padding: 20px;
	padding-right: 31px;
}

.book__title {
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	font-size: 18px;
	color: #384f7d;
	margin: 0;
	padding-bottom: 5px;
}

.book__author {
	font-family: 'Roboto', sans-serif;
	line-height: normal;
	font-size: 14px;
	color: rgba(56, 79, 125, 0.8);
	margin: 0;
	padding-bottom: 24px;
}
