@import './CreateAccountCircle.scss';

.new__account__header {
	padding-top: 236px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	text-align: center;
}

.new__account__header--title {
	line-height: normal;
	font-size: 32px;
	color: #384f7d;
	margin: 0;
}

.new__account__header--desc {
	line-height: 22px;
	font-size: 14px;
	padding: 12px 5px 32px 5px;
	margin: 0;
	font-weight: 400;
	color: rgba(56, 79, 125, 0.8);
}
