@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
	height: 100%;
}

body {
	height: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #2d2d2d;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

#wrapper {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}
